/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applying the custom fonts */
body {
  font-family: 'PT Sans', sans-serif;
}

/* Add this to your CSS or Tailwind styles */

/* .slider-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
} */

.footerContent{
  background-color: #211E3B;
  background-image: url("./assets/images/bg_footer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slick-track{
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.image-container img {
  filter: contrast(0);
  transition: filter 0.3s ease-in-out;
}

.image-container img:hover {
  filter: contrast(1) saturate(1.5); /* Adjust the saturation and contrast on hover */
}

.content_container {
  margin: 10px 20px 0px 20px;
}
.content_zoho {
  margin: 10px 10px 0px 10px;
}

@media (min-width: 1024px) {
  
.content_container {
  margin: 10px 110px 0px 110px;
}
.content_zoho {
  margin: 10px 80px 0px 80px;
}

}